/*! locomotive-scroll v4.1.3 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */html.has-scroll-smooth{overflow:hidden}html.has-scroll-dragging{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.has-scroll-smooth body{overflow:hidden}.has-scroll-smooth [data-scroll-container]{min-height:100vh}[data-scroll-direction=horizontal] [data-scroll-container]{display:inline-block;height:100vh;white-space:nowrap}[data-scroll-direction=horizontal] [data-scroll-section]{display:inline-block;height:100%;vertical-align:top;white-space:nowrap}.c-scrollbar{height:100%;opacity:0;position:absolute;right:0;top:0;transform-origin:center right;transition:transform .3s,opacity .3s;width:11px}.c-scrollbar:hover{transform:scaleX(1.45)}.c-scrollbar:hover,.has-scroll-dragging .c-scrollbar,.has-scroll-scrolling .c-scrollbar{opacity:1}[data-scroll-direction=horizontal] .c-scrollbar{bottom:0;height:10px;top:auto;transform:scaleY(1);width:100%}[data-scroll-direction=horizontal] .c-scrollbar:hover{transform:scaleY(1.3)}.c-scrollbar_thumb{background-color:#000;border-radius:10px;cursor:-webkit-grab;cursor:grab;margin:2px;opacity:.5;position:absolute;right:0;top:0;width:7px}.has-scroll-dragging .c-scrollbar_thumb{cursor:-webkit-grabbing;cursor:grabbing}[data-scroll-direction=horizontal] .c-scrollbar_thumb{bottom:0;right:auto}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* Only necessary with horizontal scrolling */
html[data-scroll-orientation="horizontal"] {
    body {
        width: fit-content;
    }
    [data-scroll-container] {
        display: flex;
    }
}

html {
  font-size: 16px;
  width: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html, body {
  background-color: #202125;
  color: #ebe4dc;
  margin: 0;
}

h1, h2, h3 {
  font-family: "Google Sans", sans-serif;
  margin: 0;
}

h1 {
  font-weight: 500;
}

h4, h5, h6, p {
  color: #aa9f92;
  font-family: "Google Sans Text", sans-serif;
}

section {
  position: relative;
  margin: 0 auto;
  padding: 64px 0;
  width: 100%;
  /* min-height: 100vh; */
}

section h2 {
  text-align: center;
  font-size: 48px;
  margin-bottom: 48px;
  line-height: 1.1;
  letter-spacing: -1.5px;
}

.mdi {
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 30px;
  font-size: 40px;
}

.mdi.mdi-heart {
  color: rgb(231 44 44);
  background-color: rgb(228 88 88 / 22%);
}

.mdi.mdi-ring {
  color: rgb(216 179 128);
  background-color: rgb(228 174 88 / 20%);
}

.mdi.mdi-calendar-clock {
  color: #1967d2;
  background-color: rgb(24 103 210 / 20%);
}

.mdi.mdi-camera {
  color: #f2c400;
  background-color: rgb(242 196 36 / 20%);
}

.app {
  position: relative;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  padding-left: 28px;
  padding-right: 28px;
  z-index: 1;
}

.container > .container {
  height: auto;
}

.full-width-container {
    position: relative;
    width: 100%;
    padding-bottom: 51.25%;
    margin-top: -6px;
    z-index: 3;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.cinema-environment {
  width: 100%;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;

  /* Preserve aspect ratio */
  min-width: 100%;
  min-height: 100%;
}

.hero .background-image {
  background-image: url("../images/bg--bosco-sketch.min.webp");
}

.our-story .background-image {
  background-image: url("../images/bg--our-story.tall.webp");
}

.photoshoot .background-image {
  background-image: url("../images/bg--gray-texture.webp");
}

section.proposal {
  background-color: #191b1d;
  padding-bottom: 0;
}

section.wedding {
  background-color: #f1f3f4;
  padding-bottom: 0;
}

section.wedding h2 {
  color: #222222;
}

.hero .logo {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  z-index: 2;
  margin-left: -50px;
  margin-top: -39.5px;
}

.title {
  margin: 0;
  top: 50%;
  left: 50%;
  width: 100%;
  z-index: 2;
}

.title + h2 {
  margin-top: -12px;
}

.our-story figure {
  margin: 0;
  border-radius: 24px;
  overflow: hidden;
}

.our-story figure > img {
  width: 100%;
}

.story-details {
  margin-bottom: 40px;
  position: relative;
}

.story-details figure {
  margin-bottom: 16px;
}

.story-details h3 {
  margin: 0 0 8px 0;
  font-size: 24px;
  letter-spacing: -1px;
}

.story-details p {
  margin: 0;
  line-height: 1.5rem;
  letter-spacing: 0rem;
  color: rgb(171 166 159);
  font-family: "Google Sans Text", sans-serif;
  font-weight: 400;
}

ol.animation__images {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 0;
}

.animation__images img {
  height: auto;
  left: 50%;
  max-height: 550px;
  max-width: 748px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.google-map {
     padding-bottom: 100%;
     position: relative;
}

.google-map iframe {
     height: 100%;
     width: 100%;
     left: 0;
     top: 0;
     position: absolute;
     z-index: 4;
}

@media screen and (min-width: 602px), print {
  .container {
    width: 600px;
  }

  .our-story .background-image {
    background-image: url("../images/bg--our-story.webp");
  }
}

/*
 * Helpers.
 */

.hidden {
  opacity: 0 !important;
  visibility: hidden !important;
}

.visible {
  opacity: 1 !important;
  visibility: visible !important;
}
